# python 1st class ( date 15-10-2022)

# keywords = basically keywords are those words that can be understand by python . they have some meaning in python

In [1]:
#how to import keywords
#find keywords code
import keyword  #first we have to import keywords bty import
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# boolean expression =

In [2]:
#boolean expression are created with keywords (and , or , not , is) . there are two boolean expression 1.true 2. false

In [3]:
True and True
#python will choose True b/w two trues

True

In [4]:
True and False     #in b/w True and False python will go for false

False

In [5]:
not True    #it will become false

False

In [6]:
True is True    #this statement is true

True

In [7]:
True is False   #this statement is false as we know true is not equal to false and its vice verca will be false too

False

In [8]:
False is False

True

In [9]:
True or False    # in b/w when there is option of choosing between True and false python will choose true

True

In [10]:
'b' is 'c'   # b is not equal to c so it will become false automatically

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Asus\AppData\Local\Temp\ipykernel_6032\2393443867.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'b' is 'c'   # b is not equal to c so it will become false automatically

False

In [11]:
 'b' == 'c'

False

In [12]:
#same thing will go with integerb 
10 ==10

True

In [13]:
10 ==15

False

In [14]:
True and False or True    #here python will first look for st.(true and false ) which will bring result false and then python will choose b/w false or true and will choose true

True

In [15]:
# when there will mathematical expression b/w true and false 
# true = 1 and false = 0
True - False

1

In [16]:
True +True

2

In [17]:
False - True

-1

In [18]:
 False+ False

0

In [19]:
False * True

0

In [21]:
False/True

0.0

In [22]:
True /False    # can not be divided by zero

ZeroDivisionError: division by zero

NameError: name 'd' is not defined

# data types and structures = 1.numbers 2.string 3.list 4.tuple 5.set 6.dictionory

 numbers = integer , float , complex

# variable and data variable is a name which holds some data structure, some kind of storage where it holds some data

# variable = data
that '=' sign used for data assigning here ,

In [24]:
#float data = decimal form
# integer = normal numbers 
# complex = 6 +2j form   #this is not included in our syllabus

In [25]:
a = 10

In [26]:
type (a)

int

In [27]:
b = 10.15

In [28]:
type(b)

float

In [29]:
c =  6 +3j

In [30]:
type(c)

complex

In [31]:
 v = a * b

In [32]:
v

101.5

In [33]:
type (v)

float

In [34]:
j =  a +b

In [35]:
j

20.15

In [36]:
type(j)

float

# string:
              text is known as string but string shoul be in inverted commas form ''  , " " 
              a number when in inverted commas it will also become string
              "string"
              'string'

In [37]:
print ('day ' + 2 )    # this will become false as we can not add a string and an integer

TypeError: can only concatenate str (not "int") to str

In [38]:
print (int('day') + 2 )    #it will be error as we can not make a string an integer

ValueError: invalid literal for int() with base 10: 'day'

In [39]:
print ( 'day ' + str(2))      # it will become true as we know we can make a number string

day 2

In [40]:
print( 'day ' + '2')    # it is a simple way to covert int into string

day 2

# syntex error: syntax error means we are not following the standards.

# data structures:
1.list 
2.tuple
3.set
4.dictionary
# data structures store the value in different structures , manners(different way of holding data)

In [41]:
#copying any list = 
# variable = listname.copy()

In [42]:
list('shankar')

['s', 'h', 'a', 'n', 'k', 'a', 'r']

In [43]:
list(123456)    #it will show error as we can only list a string

TypeError: 'int' object is not iterable

In [44]:
list('123456')   #now this is a string

['1', '2', '3', '4', '5', '6']

In [45]:
l = ['a' , 'b' , 'c', 'd']

In [46]:
l

['a', 'b', 'c', 'd']

In [47]:
a = ['a',696]

In [48]:
a

['a', 696]

In [49]:
a = ['a'696]   #error , comma is imp

SyntaxError: invalid syntax (3108965371.py, line 1)

In [50]:
#copy list to other list

In [51]:
l = [ 1,2,3,4,5,6,7,]

In [52]:
l2 = l.copy()

In [53]:
l2

[1, 2, 3, 4, 5, 6, 7]

In [54]:
l

[1, 2, 3, 4, 5, 6, 7]

In [55]:
#another way of copying
#variable = list(previous_list)

In [56]:
l3= list(l2)

In [57]:
l3

[1, 2, 3, 4, 5, 6, 7]